{% extends "base.html" %}

{% block title %}ログイン{% endblock title %}

{% block content %}
<h1>ログイン</h1>
<form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% for field in form%}
    <div>
        {% if forloop.last %}
            {{ field }}
            ログイン状態を維持する
        {% else %}
            {{ field }}
        {% endif %}
    </div>

        {% if field.errors %}
            <p>{{ field.errors.0 }}</p>
        {% endif %}
    {% endfor%}

    <button type="submit">ログイン</button>

    <a href = "{% url 'account_reset_password' %}"><br>パスワードを忘れました</a>
    <a href = "{% url 'account_signup' %}"><br>アカウントをお持ちでない方</a>
</form>

{% endblock content %}