{% extends "base.html" %}

{% block title %}パスワード変更{% endblock title %}

{% block content %}

<h1>{% if token_fail %}不正トークン{% else %}パスワード変更{% endif %}</h1>

{% if token_fail %}
{% url "account_reset_password" as password_reset_url %}
<p>このパスワードリセット用リンクは無効になっています<br></p>
<a href = "{{passwd_reset_url}}">パスワードリセット再申請</a>
    
{% else %}
{% if form %}
<form method="post" action="{{ action_url }}">
    {% csrf_token %}
    {% for field in form%}
    <div>
        <span>{{ field }}</span>
    </div>
    {% if field.errors %}
        <p>{{ field.errors.0 }}</p>
    {% endif %}
    {% endfor%}

    <button type="submit">変更</button>

    <a href = "{% url 'account_reset_password' %}"><br>パスワードを忘れました</a>
</form>
{% else %}
<p>パスワードは保存されています</p>

{% endif %}
{% endif %}


{% endblock content %}