{%load static%}

<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        <link rel = "stylesheet" href = "{%static 'css/common.css'%}">
        {{ form.media }}
        {%block head%}{%endblock%}
    </head>

    <body>
        <header>
            <div class="title">
                <div class="logo"></div>
                <div class="service-name">
                    <a href = "{% url 'ddapp:index' %}">DevDiary</a>
                </div>
            </div>
            <div class="nav">
                <a class = "{% block active_trend %}{% endblock active_trend %}" href = {% url 'ddapp:trend' %}>トレンド</a>
                <a class = "{% block active_search %}{% endblock active_search %}" href = "{% url "ddapp:search" %}">検索</a>
                <a class = "{% block active_good %}{% endblock active_good %}" href = "{% url 'ddapp:likelist' %}">いいね</a>
                <a class = "{% block active_mypage %}{% endblock active_mypage %}" href = {% url 'ddapp:mypage' %}>マイページ</a>
            </div>
        </header>
        {%block content%}{%endblock%}
        <footer></footer>
        {% block js %}{% endblock js %}
    </body>
</html>