{% extends "base.html" %}
{% load static %}

{% block title %}検索{% endblock title %}

{% block active_search %}active{% endblock active_search %}

{%block head%}
<link rel="stylesheet" href="{%static 'css/index.css'%}">
{%endblock%}


{% block content %}
<div class="top">
    <h1>検索</h1>
    <div class="search">
        <form action = "{% url 'ddapp:search' %}" method="get">
            <input name = "search" type="text" class="textbox" placeholder="search ..."/>
            <input type="submit" class = "submit" value="検索">
        </form>
    </div>
    <!-- <div class="tag-search">
        <form action = "{% url 'ddapp:index' %}" method="get">
            <input name = "search" type="text" class="textbox" placeholder="Tag"/>
            <input type="submit" class = "submit" value="追加">
        </form>
    </div>
    <div class="tags">
        <div class="tag"><p>JavaScript</p></div>
        <div class="tag"><p>html</p></div>
        <div class="tag"><p>lottie</p></div>
        <div class="tag"><p>animation</p></div>
    </div> -->
</div>

<div class="contents">
    <!-- <div class="tip">
        <p>3件ヒット</p>
        <div class="sort">
            <p>並べ替え</p>
            <p class="emp">日付</p>
            <a class="emp">▼</a>
        </div>
    </div> -->
    <div class="recs">
        {% for record in object_list %}
        <a href="{% url 'ddapp:detail' record.id %}" class="rec">
            <div class="deco"></div>
            <div class="title">
                <h2>{{record.title}}</h2>
            </div>
            <div class="tags">
                {% if record.tag.tag_01 is not None %}
                <div class="tag"><p>{{ record.tag.tag_01 }}</p></div>
                {% endif %}
                {% if record.tag.tag_02 is not None %}
                <div class="tag"><p>{{ record.tag.tag_02 }}</p></div>
                {% endif %}
                {% if record.tag.tag_03 is not None %}
                <div class="tag"><p>{{ record.tag.tag_03 }}</p></div>
                {% endif %}
                {% if record.tag.tag_04 is not None %}
                <div class="tag"><p>{{ record.tag.tag_04 }}</p></div>
                {% endif %}
            </div>
            <!-- <div class="details">
                <div class="good">
                    <img src="{% static 'images/good_icon.svg' %}" alt="いいねアイコン">
                    <div class="good-num">
                        <p>13</p>
                    </div>
                </div>
                <div class="date">
                    <p>3ヶ月前</p>
                </div>
            </div> -->
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}