.detail{
    padding: 0 10% 5% 10%;
}

.detail .title{
    margin-top: 5%;
    text-align: left;
}

.detail .content{
    margin-top: 50px;
}

.detail .content *{
    text-align: left;
}

.detail .tags{
    width: 100%;
    margin-top: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 0.5rem;
}

.detail .tags .tag{
    width: fit-content;
    border: 1px solid #566f98;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: #566f98;
}