/* -----------top----------- */

.top{
    background-color: #566f98;
    width: 100%;
    color: #fff;

    padding: 2.5% 4.5% 2.5% 4.5%;
}

.top h1{
    text-align: left;
}

.top .search{
    margin-top: 2.5%;

    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.top .search-button{
    background-color: #e2d38d;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1%;
}

.top .textbox {
    width: 35%;
    padding: 8px 10px;
    border: 1px solid #969da3;
    border-radius: 3px;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
}

.top .textbox::placeholder {
    color: #999;
}

.top .tag-head{
    margin-top: 1.5%;
    display: flex;
    gap: 10px;
}

.top .tags{
    width: 50%;
    margin-top: 1rem;

    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
}

.top .tags .tag{
    width: fit-content;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: #566f98;
}

/* -----------rec----------- */

.contents{
    padding: 2.5% 5%;
}

.add-rec{
    width: fit-content;
    padding: 1rem 2rem;
    background-color: #566f98;
    margin-top: 2.5%;
    color: #fff;
    font-weight: bold;
    border-radius: 100px;

    display: flex;
    gap: 10px;
}

.tip{
    width: 100%;
    color: #999;
    margin-top: 2.5%;

    display: flex;
    justify-content: space-between;
}

.tip .sort{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.tip .sort .emp{
    color: #566f98;
}

.recs{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-top: 10px;

    column-gap: 30px;
    row-gap: 20px;
}

.recs a:link, .recs a:visited, .recs a:hover, .recs a:active {
    color: #000;
}

.rec{
    position: relative;
    width: 23%;
    background-color: #fff;
    padding: 30px 20px;

    box-shadow: 5px 8px 23px 0px rgba(0, 0, 0, 0.09);
    border-radius: 0 0 10px 10px;
}


.rec .deco{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #e2d38d;
}

.rec .title{
    margin-top: 1rem;
}

.rec .title h2{
    text-align: left;
}

.rec .tags{
    width: 100%;
    margin-top: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 0.5rem;
}

.rec .tags .tag{
    width: fit-content;
    border: 1px solid #566f98;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: #566f98;
}

.rec .details{
    width: 100%;
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rec .details .good{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    color: #e2d38d;
}

.rec .details .good img{
    width: 1.5rem;
}

.rec .details .date{
    color: #b5b5b5;
}