/* -----------rec----------- */

.contents{
    padding: 2.5% 5%;
}

.add-rec{
    width: fit-content;
    padding: 1rem 2rem;
    background-color: #566f98;
    margin-top: 2.5%;
    color: #fff;
    font-weight: bold;
    border-radius: 100px;

    display: flex;
    gap: 10px;
}


.recs{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-top: 10px;

    column-gap: 30px;
    row-gap: 20px;
}

.recs a:link, .recs a:visited, .recs a:hover, .recs a:active {
    color: #000;
}

.rec{
    position: relative;
    width: 23%;
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 30px;
    padding-bottom: 7%;

    box-shadow: 5px 8px 23px 0px rgba(0, 0, 0, 0.09);
    border-radius: 0 0 10px 10px;
}


.rec .deco{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #e2d38d;
}

.rec .title{
    margin-top: 1rem;
}

.rec .title h2{
    text-align: left;
}

.rec .tags{
    width: 100%;
    margin-top: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    gap: 0.5rem;
}

.rec .tags .tag{
    width: fit-content;
    border: 1px solid #566f98;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: #566f98;
}

.tip{
    position: absolute;
    bottom: 20px;
    width: 85%;

    display: flex;
    justify-content: space-between;
}

.tip p{
    color: #999;
}

.tip .like{
    display: flex;

    gap: 10px;
}

.tip button{
    border: none;
    background: none;
}

.fas{
    width: 20px;
    height: 20px;
    background-image: url("../images/like_icon_fas.svg");
    background-size: cover;
    background-position: center;
}
.far{
    width: 20px;
    height: 20px;
    background-image: url("../images/like_icon_far.svg");
    background-size: cover;
    background-position: center;
}